.root {
    -fx-font: 20px "Courier";
}

.text-field {
    -fx-font: 30px "Courier";
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: transparent;
}

.button {
    -fx-font: 20px "Courier";
    -fx-padding: 20;
    -fx-background-color: "#555";
    -fx-text-fill: "#fff";
}

.button:hover{
    -fx-background-color: "#fff";
    -fx-text-fill: "#555";
}

.label {
    -fx-padding: 20;
}

HBox, VBox {
    -fx-alignment: center;
    -fx-padding: 10;
}

/* These IDS are used to create the 3x3 grids */
#row {
    -fx-border-width: 7 1 1 1;
}

#rowAndCol {
    -fx-border-width: 7 1 1 7;
}

#col {
    -fx-border-width: 1 1 1 7;
}